PLAYLIST_URL=https://ipfs.io/ipns/k51qzi5uqu5di462t7j4vu4akwfhvtjhy88qbupktvoacqfqe9uforjvhyi4wr/hashes.m3u
ACESTREAM_SERVER_URL=http://192.168.2.142:15123/acestream/video?id={hash}
SERVER_PORT=8000
RELOAD_INTERVAL=3600
